body {
}

.header {
	width: 100%;
	min-height: 100vh;
	background-image: url("Assets/Images/Background.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}

.wrapper {
	
}
