body {
}

.header {
	width: 100%;
	min-height: 100vh;
	background-image: url("Assets/Images/Background.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}

#main {
	background-color: #ffffff;
	position: relative;
	margin: 0 auto;
	width: 75%;
	z-index: 2;
}
