body {
}

.background {
	width: 100%;
	min-height: 100vh;
	background-image: url("../Images/Background.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}

#header {
	position: relative;
	width: 75%;
	z-index: 1;
	height: 50vh;
}

#main {
	background-color: #ffffff;
	position: relative;
	margin: 0 auto;
	width: 75%;
	z-index: 2;
}
